.footer {
    background-color:rgb(237, 237, 237);
    color: black;
    text-align: center;
    padding: 10px 0px;
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
  }

  @media (max-width:375px){
    .footer {
        font-size: 14px;
    }
  }

  @media (max-width:320px){
    .footer {
        font-size: 12px;
    }
  }